.container {
    padding: 0;
    width: 100%;
    padding: 0;
}

.header {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.header h1 {
    background-color: darkorchid;
    font-weight: bolder;
    font-size: 88px;
    color: skyblue;
    width: 787px;
    text-align: center;
    margin: 21px;
}





/* @media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
} */